# 忽略日志文件
logs
*.log

# 忽略虚拟环境
.venv
venv
env
__pycache__

# 忽略构建文件
build

# 忽略 dist 目录
dist

# 忽略 .spec 文件
*.spec

# 忽略 .pyc 文件
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache

# 忽略 scripts 目录
scripts

# 忽略 ui-blocks 目录
ui-blocks

# IDE 配置
.idea
.vscode

# Vercel
.vercel
